<div class="container">
  <form (ngSubmit)="guardar()" #formpeli="ngForm">
    <!-- Titulo -->
    <label class="font-weight-bold">Titulo* </label>
    <i
      class="fas fa-check-circle checked"
      *ngIf="titulo.touched && titulo.valid"
    ></i>

    <i
      class="fas fa-exclamation-circle unchecked"
      *ngIf="titulo.touched && titulo.invalid"
    ></i>
    <input
      type="text"
      class="form-control"
      ngModel
      name="titulo"
      required
      #titulo="ngModel"
    />
    <p class="alert alert-danger" *ngIf="titulo.touched && titulo.invalid">
      Por favor escriba un titulo
    </p>
    <br />
    <!-- Categoria -->
    <label class="font-weight-bold">Categoria*</label>
    <select class="form-control" ngModel name="categoria">
      <option value="">Seleccione una categoría</option>
      <option
        *ngFor="let categoria of categorias"
        [value]="categoria"
        required
        >{{ categoria }}</option
      >
    </select>
    <br />
    <!-- Link -->
    <label class="font-weight-bold">Link*</label>
    <input type="text" class="form-control" ngModel name="link" required />
    <br />
    <button type="submit" class="btn btn-primary" [disabled]="!formpeli.valid">
      Guardar
    </button>
  </form>
  <br />
  <!-- Dirty: Es true cuando en el input se escribe al menos un caracter -->
  <h4>Propiedad Dirty del Form -> {{ formpeli.controls.titulo.dirty }}</h4>
  <!-- Pristine: Es true cuando en el input no se ha escrito ningun caracter -->
  <h4>
    Propiedad pristine del Form -> {{ formpeli.controls.titulo.pristine }}
  </h4>
  <!-- Touched: Es true cuando saco el foco del input. Esto implica que en un momento se hizo foco en el campo -->
  <h4>Propiedad touched del Form -> {{ formpeli.controls.titulo.touched }}</h4>
  <!-- Valid es true cuando cumple la condicion del validador que le pusimos al input -->
  <h4>Propiedad valid del Form -> {{ formpeli.controls.titulo.valid }}</h4>
  <!-- Invalid es  true cuando no cumple la condicion del validador que le pusimos al input   -->
  <h4>Propiedad invalid del Form -> {{ formpeli.controls.titulo.invalid }}</h4>
</div>
