<div class="container">
  <!-- Titulo -->
  <label class="font-weight-bold">Titulo* </label>
  <input type="text" class="form-control" [(ngModel)]="titulo" />
  <p *ngIf="!titulo" class="text-danger">Por favor escriba un titulo!</p>
  <br />
  <!-- Categoria -->
  <label class="font-weight-bold">Categoria*</label>
  <input type="text" class="form-control" [(ngModel)]="categoria" />
  <p *ngIf="!categoria" class="text-danger">Por favor escriba una categoria!</p>
  <br />
  <!-- Link -->
  <label class="font-weight-bold">Link*</label>
  <input type="text" class="form-control" [(ngModel)]="link" />
  <p *ngIf="!link" class="text-danger">Por favor escriba un link!</p>
  <br />

  <button type="submit" class="btn btn-primary" (click)="guardar()">
    Guardar
  </button>

  <br />
  <br />
  <app-card
    *ngFor="let peli of arregloPeliculas"
    [titulo]="peli.titulo"
    [subtitulo]="peli.categoria"
    [link]="peli.link"
  >
  </app-card>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        hola
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
