input.ng-invalid.ng-touched {
  border-left: solid 5px red;
}

input.ng-valid.ng-dirty {
  border-left: solid 5px green;
}

select.ng-invalid.ng-touched {
  border-left: solid 5px red;
}

select.ng-valid.ng-dirty {
  border-left: solid 5px green;
}

.checked {
  margin-left: 8px;
  color: green;
}

.unchecked {
  margin-left: 8px;
  color: red;
}
